<ion-header>
  <login-top></login-top>
</ion-header>
<div style="margin-top: 100px; margin-bottom: 60px">
  
    <ion-item>
        <ion-label position="floating">Digite seu email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
  
</div>
<ion-content>

</ion-content>
