<ion-header>
  <ion-toolbar>
    <ion-title>Pessoa em Detalhe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-text color="primary">{{pessoa.nome}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Profissao</ion-label>
    <ion-text color="primary">{{pessoa.profissao}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Idade</ion-label>
    <ion-text color="primary">{{pessoa.idade}}</ion-text>
  </ion-item>
</ion-content>
