<ion-content>
  <login-top></login-top>
<div class="ion-padding">
  <ion-item>
    <ion-label  position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="senha"></ion-input>
  </ion-item><br><br>
    <ion-button expand="block"  (click)="login()">Enviar</ion-button>
  <ion-text color="primary"><p class="ion-text-right" (click)="esqueci()">Esqueci minha senha</p></ion-text>
</div>
</ion-content>
