<ion-header>
  <ion-toolbar>
    <ion-title>
      Meus amigos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let pessoa of data" (click)="detalhes(pessoa)">
        <ion-icon slot="start" name="{{pessoa.icone}}"></ion-icon>
        <ion-label>
            <h2>{{pessoa.nome}}</h2>
            <p>{{pessoa.profissao}}</p>
            <p>{{pessoa.idade}} anos</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
